<h1>投稿確認</h1>
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">投稿</div>
  <div class="card-body text-primary">
    <h5 class="card-title">
      <p>タイトル <%= @post.title %></p>
    </h5>
    <h5 class="card-title">
      <p>内容 <%= @post.content %></p>
    </h5>
  </div>
</div>
