<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <li><span style ="color: :red;"><%= msg %></span></li>
    </div>
  <% end %>
<% end %>
